DB_URI = "mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/?retryWrites=true&w=majority"
DB_NAME = "Converge"
HF_API_KEY = "hf_your_free_huggingface_key"
HF_MODEL = "google/flan-t5-small"
# Optional fallback to OpenAI if you have another API key
OPENAI_API_KEY = ""
OPENAI_MODEL = "gpt-3.5-turbo"
